.calendar {
  height: 320px;
  background-color: white;
  text-align: center;
  letter-spacing: 1px;
  vertical-align: middle;
  font-size: 12px;
  text-transform: uppercase;

  &__cells {
    display: grid;
    grid-template-rows: 1fr repeat(6, 2fr);
    grid-template-columns: repeat(7, 1fr);
    height: 250px;
  }

  &__empty-cell {
    user-select: none;
  }

  &__cell-btn--available {
    background-color: lightgreen;
    border: 1px solid rgb(118, 118, 118);
    cursor: pointer;
  }

  &__arrows {
    display: flex;
    justify-content: space-evenly;
    max-width: 150px;
    margin: 0 auto 10px auto;
  }

  &__arrow {
    cursor: pointer;
  }
}
