.rental-checkout {
  width: 350px;
  height: 800px;
  background: lightblue;
  margin: 0 auto;
  border-radius: 5px;

  &__form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
